.para-foto {
    height: 250px;
    width: 250px;
    object-fit: cover;
}
.title {
    font-family: 'Raleway', sans-serif;
}
.subtitle {
    letter-spacing: 10px;
    font-family: 'Raleway', sans-serif;
}
#elsa {
    height: 95vh;
}