.para-external { 
    color: white;
    margin: 50 px;
    border: 20px solid #C7F2A4;
    padding: 20px 20px 20px 20px;
    background-color: #F7D1BA;
}

.para-foto {
    border: 2px solid black;
}

.para-saya {
    color: white;
    margin: 50 px;
    border: 20px solid #C7F2A4;
    padding: 20px 20px 20px 20px;
    background-color: #F7D1BA;
}

.para-ahli {
    color: white;
    margin: 50 px;
    border: 20px solid #C7F2A4;
    padding: 20px 20px 20px 20px;
    background-color: #F7D1BA;
}

.para-pend {
    color: white;
    margin: 50 px;
    border: 20px solid #C7F2A4;
    padding: 20px 20px 20px 20px;
    background-color: #F7D1BA;
}

.para-kontak {
    color: white;
    margin: 50 px;
    border: 20px solid #C7F2A4;
    padding: 20px 20px 20px 20px;
    background-color: #F7D1BA;
}