.para-bahasa {
    color: white;
    margin: 50 px;
    border: 20px solid #D3CEDF;
    padding: 20px 20px 20px 20px;
    background-color: #F2D7D9;
}

.para-kerja {
    color: white;
    margin: 50 px;
    border: 20px solid #D3CEDF;
    padding: 20px 20px 20px 20px;
    background-color: #F2D7D9;
}

.para-organisasi {
    color: white;
    margin: 50 px;
    border: 20px solid #D3CEDF;
    padding: 20px 20px 20px 20px;
    background-color: #F2D7D9;
}

.para-tsatu {
    margin: 50 px;
    border: 20px solid #D3CEDF;
    padding: 20px 20px 20px 20px;
    background-color: #9CB4CC;
}

.para-tdua {
    margin: 50 px;
    border: 20px solid #D3CEDF;
    padding: 20px 20px 20px 20px;
    background-color: #9CB4CC;
}

.para-ttiga {
    margin: 50 px;
    border: 20px solid #D3CEDF;
    padding: 20px 20px 20px 20px;
    background-color: #9CB4CC;
}